<h1>Optimized Images</h1>

<p>Image given priority loading</p>
<div style="display: flex; flex-direction: column; gap: 10px">
  <img
    alt="Optimized Unsplash Image"
    ngsrc="0*hiSjMcbdqbV35wRI"
    width="600"
    height="400"
    decoding="sync"
    priority=""
    loading="eager"
    fetchpriority="high"
    ng-img="true"
    src="https://cdn-images-1.medium.com/max/640/0*hiSjMcbdqbV35wRI"
    srcset="https://cdn-images-1.medium.com/max/600/0*hiSjMcbdqbV35wRI 1x,
              https://cdn-images-1.medium.com/max/1200/0*hiSjMcbdqbV35wRI 2x">
</div>
